/*
================================================================================
								Header & Menu Style
================================================================================								
*/
.header-area {
	font-family: Arial, Helvetica, sans-serif;
	background: #ffffff;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

.head-top-area {
	max-width: 1248px;
	min-width: 978px;
	margin: 0 auto;
	padding: 10px 16px 0px 16px;
}

.head-bottom-area {
	background: #0073c5;
}

.main-menu {
	max-width: 1248px;
	min-width: 978px;
	margin: 0 auto;
}

.head-bottom-area ul {
	list-style-type: none;
	overflow: hidden;
	padding: 0px;
	font: 14px Arial, Helvetica, sans-serif;
}

.head-bottom-area li {
	float: left;
	border-right: 1px solid #0680d8;
	font: 14px Arial, Helvetica, sans-serif;
}

.head-bottom-area li.active a {
	background-color: #2b8dd6;
}

.head-bottom-area li a, .head-bottom-area .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
	font: 13px Arial, Helvetica, sans-serif;
}

.head-bottom-area li a:hover, .head-bottom-area .dropdown:hover .dropbtn
	{
	background-color: #2b8dd6;
}

.head-bottom-area li.dropdown {
	display: inline-block;
}

.head-bottom-area .dropdown-content {
	display: none;
	position: absolute;
	background-color: #2b8dd6;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.head-bottom-area .dropdown-content a {
	color: #ffffff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border-bottom: 1px solid #0680d8;
}

.head-bottom-area .dropdown-content a:hover {
	background-color: #075c9a;
}

.head-bottom-area .dropdown:hover .dropdown-content {
	display: block;
}

.btn-logout {
	background-color: #0680d8;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 12px;
    text-align: center; 
    text-decoration: none;
    cursor: pointer;
    vertical-align:text-top;
    display: inline-block;  
}

/* .btn-logout:BEFORE, .btn-logout:AFTER {
	background-color: #0680d8;
	content:"Logout";
   	float:left;
   	width:16px;
   	height:16px;
   	margin:0 5px 0 0;
	background-image: url(images/ui-icons_ffffff_256x240.png);
	background-position: -32px -80px;
	background-repeat: no-repeat;

} */

.usernameLbl {
    font-size: 12px;
    text-transform: uppercase;
}



/*
================================================================================
								Main Body Style
================================================================================								
*/

/*html,
 body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
} */

/* body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    color: #43505F;
    font-size: 14px;
    letter-spacing: 0.1px;
    height: 100%;
    overflow: hidden;
} */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.pull-center {
    float: center;
}

.clearfix {
    clear: both;
}

.text-right {
	text-align: right;
	font-size:  25px;
}

.main-content {
    margin-top: 90px;
    height: 100%; 
    overflow-y: auto;
}

.main-container {
	font-family: Arial, Helvetica, sans-serif;
    max-width: 1248px;
    min-width: 978px;
    margin: 0 auto;
    background: #ffffff;
    min-height: 100%;
}

.col-width-33 {
    width: 33.33%;
}

.col-width-10 {
    width: 10%;
}

.form-style {
    max-width: 100%;
    padding: 1px 1px 1px 1px;
    font: 11px Arial, Helvetica, sans-serif;
}

.form-style tr {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
	width: 100%;
} 

/* .form-style td {
	width: 100%;
}  */

.form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font: 13px Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.form-style input[type=text],
.form-style input[type=password],  
.form-style input[type=date],
.form-style input[type=datetime],
.form-style input[type=number],
.form-style input[type=search],
.form-style input[type=time],
.form-style input[type=url],
.form-style input[type=email],
textarea, select{
	vertical-align: text-top;
    font: 11px Arial, Helvetica, sans-serif;
    padding: 6px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

/* .form-style select{
    box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;  
    font: 11px Arial, Helvetica, sans-serif;
} */
.form-style input[type=text]:focus, 
.form-style input[type=password]:focus, 
.form-style input[type=date]:focus,
.form-style input[type=datetime]:focus,
.form-style input[type=number]:focus,
.form-style input[type=search]:focus,
.form-style input[type=time]:focus,
.form-style input[type=url]:focus,
.form-style input[type=email]:focus,
.form-style textarea:focus, 
.form-style select:focus{
	vertical-align: text-top;
	line-height: 18px;
    padding: 6px 20px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-style .field-divided{
    width: 20%;
}

.form-style .field-long{
    width: 100%;
}
.form-style .field-select{
    width: 100%;
    vertical-align: middle;
}
.form-style .field-textarea{
    height: 100px;
    vertical-align: middle;
}


/* .form-style input[type=submit], 
.form-style input[type=button], 
.form-style input[type=reset] */

.btnStyle{
  	background-color: #0680d8;
  	font: 11px Arial, Helvetica, sans-serif;
    color: white;
    border: thin;
    border-color:#0680d8;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 12px;
    text-align: center; 
    text-decoration: none;
    cursor: pointer;
    vertical-align:text-top;
    display: inline-block; 
}

.delBtnStyle{
  	background-color: #d82754;
  	font: 11px Arial, Helvetica, sans-serif;
    color: white;
    border: thin;
    border-color:#0680d8;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 12px;
    text-align: center; 
    text-decoration: none;
    cursor: pointer;
    vertical-align:text-top;
    display: inline-block; 
}



/* .form-style input[type=submit]:hover, .form-style input[type=button]:hover, .form-style input[type=reset]:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
} */


.btnStyle:HOVER{
	background: #2ba3ed;
	text-decoration: none;
}
.form-style .required{
    color:red;
}


.tableMaintStyle{
	display: nowrap; 
	clear: both;
    width: 100%;
    text-align: center;
}
 
.tableMaintStyle td {
	font: 13px Arial, Helvetica, sans-serif;
	padding: 5px 3px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #fff;
	text-align: center;
}

.tableMaintStyle th {
	font: 13px Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 5px 3px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: #ccc;
	color: #333;
	background-color: #f0f0f0;
	text-align: center;
} 


.tableChildHeaderStyle{
    width: 100%;
    border-collapse: collapse;
}
 
.tableChildHeaderStyle td {
	font: 13px Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 0;
	margin: 0;
	background: #f0f0f0;
}


table.listDT{
	display: nowrap; 
	clear: both;
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

table.listDT tbody td {
    border-width: 1px;
    border-color: #ebebeb;
}

/* table.listDT td,
table.listDT th {
    padding: 5px;
    border: 1px solid #fff;
}

Header cells
table.listDT thead th {
    text-align: center;
    background: #66a9bd;
    color:
}

Body cells
table.listDT tbody th {
    text-align: left;
    background: #91c5d4;
}
 
table.listDT tbody td {
    text-align: center;
    background: #d5eaf0;
}
 
table.listDT tbody tr.odd td {
    background: #bcd9e1;
}

Footer cells 
table.listDT tfoot th {
    background: #b0cc7f;
    text-align: left;
}
 
table.listDT tfoot td {
    background: #d7e1c5;
    text-align: center;
    font-weight: bold;
}

div.dataTables_length {
    float: left;
    background-color: red;
}

div.dataTables_filter {
    float: right;
    background-color: green;
}
 
div.dataTables_info {
    float: left;
    background-color: blue;
}
 
div.dataTables_paginate {
    float: right;
    background-color: yellow;
}


Self clearing -
div.dataTables_wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
} */

.scroll-it {
    weight: 100%;       /* Just for the demo          */
    /* height: 250px; */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

/* .form-scroll-it {
    weight: 100%;       Just for the demo         
    height: 100%;
    overflow-y: auto;    Trigger vertical scroll   
    overflow-x: auto;  Hide the horizontal scroll
    
} */

div.horizontalRule
{
clear:both;
width:100%;
background-color:#d1d1d1;
height:1px;
margin-top:10px;
margin-bottom:10px;
}   

div.ui-datepicker {
	font-size:11px;
}

/*
================================================================================
								Footer Style
================================================================================								
*/
.footer-area {
    background: #ffffff;
    color: #848484;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #ddd;
    font: 10px Arial, Helvetica, sans-serif;
}

.footer-center-area {
	font-weight: 500;
    min-width: 978px;
    margin: 0 auto;
    padding: 0px 16px;
    text-align: center;
}

